<?xml version="1.0"?>
<config>
    <modules>
        <Spletnisistemi_Checkoutnewsletter>
            <version>1.0.0</version>
        </Spletnisistemi_Checkoutnewsletter>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Spletnisistemi_Checkoutnewsletter>
                    <files>
                        <default>Spletnisistemi_Checkoutnewsletter.csv</default>
                    </files>
                </Spletnisistemi_Checkoutnewsletter>
            </modules>
        </translate>
        <layout>
            <updates>
                <checkoutnewsletter>
                    <file>checkoutnewsletter.xml</file>
                </checkoutnewsletter>
            </updates>
        </layout>
        <events>
        	<checkout_type_onepage_save_order>
                <observers>
                    <setCustomerIsSubscribed>
                        <type>singleton</type>
                        <class>checkoutnewsletter/observer</class>
                        <method>setCustomerIsSubscribed</method>
                    </setCustomerIsSubscribed>
                </observers>
            </checkout_type_onepage_save_order>
		</events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Spletnisistemi_Checkoutnewsletter>
                    <files>
                        <default>Spletnisistemi_Checkoutnewsletter.csv</default>
                    </files>
                </Spletnisistemi_Checkoutnewsletter>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
        	<checkout>
        		<rewrite>
        			<type_onepage>Spletnisistemi_Checkoutnewsletter_Model_Checkout_Type_Onepage</type_onepage>
        		</rewrite>
        	</checkout>
            <checkoutnewsletter>
                <class>Spletnisistemi_Checkoutnewsletter_Model</class>
            </checkoutnewsletter>
        </models>
        <resources>
            <checkoutnewsletter_setup>
                <setup>
                    <module>Spletnisistemi_Checkoutnewsletter</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </checkoutnewsletter_setup>
            <checkoutnewsletter_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </checkoutnewsletter_write>
            <checkoutnewsletter_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </checkoutnewsletter_read>
        </resources>
        <blocks>
        	<checkoutnewsletter>
                <class>Spletnisistemi_Checkoutnewsletter_Block</class>
            </checkoutnewsletter>
        </blocks>
        <helpers>
            <checkoutnewsletter>
                <class>Spletnisistemi_Checkoutnewsletter_Helper</class>
            </checkoutnewsletter>
        </helpers>
    </global>
    <default>
    	<newsletter>
    		<checkoutnewsletter>
    			<enable>1</enable>
    			<checked>1</checked>
    			<visible_guest>1</visible_guest>
    			<visible_register>1</visible_register>
    		</checkoutnewsletter>
    	</newsletter>
    </default>
</config>